* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color:rgb(235, 235, 235); */
    /* border: 1px solid blue; */
    max-width: 1000px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    /* border: 1px solid red; */
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 60px;
}

section {
    /* border: 1px solid grey; */
    margin: 20px 0;
    padding: 20px 20px;
    background-color:rgb(245, 245, 245);
    border-radius: 20px;
}

section div {
    margin: 0 auto;
}

section h1 {
    font-size: 32px;
}

/**********************************************************************
 Dealing with the color section
 **********************************************************************/

.color-sample{
    display: inline-block;
    height: 120px;
    width: 120px;
    text-align: center;
    color: white;
}

.color-sample p {
    visibility: hidden;
    height: 40px;
    padding-top: 10px;
}

.color-sample:hover > p { 
    visibility:visible;
}

#ivory {
    background-color: ivory;
    color: black;
}

#yellow {
    background-color: yellow;
    color: black;
}

#gold {
    background-color: gold;
}

#orange {
    background-color: orange;
}

#coral {
    background-color: coral;
}

#tomato {
    background-color: tomato;
}

#red {
    background-color: red;
}

#maroon {
    background-color: maroon;
    color: white;
}

#lavender {
    background-color: lavender;
    color: black;
}

#pink {
    background-color: pink;
}

#deeppink {
    background-color: deeppink;
}

#plum {
    background-color: plum;
}

#violet {
    background-color: violet;
}

#fuchsia {
    background-color: fuchsia;
}

#purple {
    background-color: purple;
    color: white;
}

#indigo {
    background-color: indigo;
    color: white;
}

#lime {
    background-color: lime;
    color: black;
}

#green {
    background-color: green;
}

#olive {
    background-color: olive;
}

#aqua {
    background-color: aqua;
    color: black;
}

#skyblue {
    background-color: skyblue;
}

#teal {
    background-color: teal;
}

#blue {
    background-color: blue;
    color: white;
}

#navy {
    background-color: navy;
    color: white;
}

#white {
    background-color: white;
    color: black;
}

#silver {
    background-color: silver;
}

#gray {
    background-color: gray;
}

#black {
    background-color: black;
    color: white;
}

#wheat {
    background-color: wheat;
    color: black;
}

#tan {
    background-color: tan;
}

#chocolate {
    background-color: chocolate;
    color: white;
}

#saddlebrown {
    background-color: saddlebrown;
    color: white;
}

/**********************************************************************
 Dealing with the font section
 **********************************************************************/
.font-sample{
    display: inline-block;
    background-color: white;
    width: 455px;
    height: 180px;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
    vertical-align: top;
}

.font-sample:hover { 
    border: 1px solid blue;
}

.font-sample h3 {
    text-decoration: underline;
    color: black;
}

.font-sample h3 a{
    color: black;
}

 .italic{
    font-style: italic;
}

.bold{
    font-weight: 700;
}

 #arvo{
     font-family: "Arvo";
 }

 #playfair{
    font-family: "Playfair Display";
}

#merriweather{
    font-family: "Merriweather";
}

#titillium{
    font-family: "Titillium Web";
}

#alegreya{
    font-family: "Alegreya";
}

#open{
    font-family: "Open Sans";
}

#roboto{
    font-family: "Roboto";
}

#mulish{
    font-family: "Mulish";
}

#libre{
    font-family: "Libre Franklin";
}

 /**********************************************************************
 Dealing with the text section
 **********************************************************************/
 .text-sample{
    display: inline-block;
    background-color: white;
    width: 296px;
    height: 100px;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
    vertical-align: top;
    position: relative;
}

.text-sample:hover { 
    border: 1px solid blue;
}

.style-details {
    visibility: hidden;
    height: 30px;
    padding-top: 10px;
    position: absolute;
    bottom:20px;

}

.text-sample:hover > .style-details { 
    visibility:visible;
}